{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet" href=https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css>
{% endblock %}

{% block content %}
<table class="table table-success table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <td>Name</td>
        <td>Class1</td>
        <td>Class2</td>
        <td>Class3</td>
    </thead>

    {% for row in rows %}
    <tr>
        <td>{{ row['name'] }}</td>
        <td>{{ row['class1'] }}</td>
        <td>{{ row['class2'] }}</td>
        <td>{{ row['class3'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}